/* Hide original text */
.adresa-szpm, .szpm {
    display: none !important;
}
.ime-szpm {
    font-size: 0; /* visually hides text but keeps element */
}
.logo-association {
    display:block;
    max-height:80px;
    margin: 10px 0;
}
.ime-szpm::before {
    content: "Здружение на пензионери Бутел";  /* your replacement */
    font-size: 26px;            /* restore font size */
    color: white;
    text-shadow: 2px 2px 3px black;
}
#header .header-column {
    flex-grow: 0;
}
.header-body {
    background: linear-gradient(0deg, #aaaaaa, #7a7a7a);
}
.bg-color-secondary, .bg-secondary {
    background-color: #7a7a7a !important;
}
